title: Mike Williams Blog
description: A blog about technology, programming, and tutorials on Piaware and .NET.
url: https://cmwilliams.github.io
baseurl: ""
author: Mike Williams
email: mike.williams@example.com
social:
  github: https://github.com/yourusername
  twitter: https://twitter.com/yourusername
  linkedin: https://linkedin.com/in/yourusername
plugins:
  - jekyll-feed
  - jekyll-seo-tag
  - jekyll-sitemap
markdown: kramdown
highlighter: rouge
permalink: pretty
defaults:
  - scope:
      path: ""
      type: posts
    values:
      layout: post
  - scope:
      path: ""
      type: pages
    values:
      layout: default
exclude:
  - Gemfile
  - Gemfile.lock
  - README.md